@tailwind base;
@tailwind components;
@tailwind utilities;

#portal {
  position: relative;
  z-index: 999;
}

/* Temp changes for github modal below */

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-modal {
  background-color: #ffffff;
  color: #6a0dad;
  width: 25%;
}

.modal-container:hover {
  cursor: pointer;
}

/* .modal-close {
  align-content: center;
  align-self: center;
  align-items: center;
} */

.modal-option {
  width: 100%;
  height: auto;
  border: 0.1em gray bottom solid;
}

.modal-option:hover {
  background-color: #6a0dad;
  color: #ffffff;
}
